.packages-yulang-button-container {
  display: flex;
  align-items: center;
}

.ButtonClassCommon {
  display: flex;
  align-items: center;
  width: 3.5em;
  height: 1.5em;
  // background-color: #13ce66;
  border-radius: 4em;

  .circle {
    width: 1.3em;
    height: 1.3em;
    margin: 0em .1em;
    background-color: white;
    border-radius: 2em;
  }
}

.circleFail {
  animation: moveLeft .2s forwards linear;
}

.circleSuccess {
  animation: moveRight .2s forwards linear;
}

@keyframes moveRight {
  from {
    transform: translateX(0em);
  }

  to {
    transform: translateX(2em);
  }
}

@keyframes moveLeft {
  from {
    transform: translateX(2em);
  }

  to {
    transform: translateX(0em);
  }
}

.ButtonClassAble {
  cursor: pointer;
}

.ButtonClassDisabled {
  cursor: not-allowed;
}