.test{
  color: red;
}

.button{
  display: flex; 

  span:nth-child(1){
    margin-right: .5em;
  }

  span:nth-last-child(1){
    margin-left: .5em;
  }
}

.ButtonClassCommon{
  display: flex;
  align-items: center;
  // justify-content: flex-start;
  // justify-content: flex-end;
  width: 3.5em;
  height: 1.5em;
  background-color: #13ce66;
  border-radius: 4em;

  .circle{
    width: 1.3em;
    height: 1.3em;
    margin: 0em .1em;
    background-color: white;
    border-radius: 2em;
  }
}

.circleFail{
  animation: moveLeft .2s forwards linear;
}

.circleSuccess{
  animation: moveRight .2s forwards linear;
}

.circleInitialSuccess{
  transform: translateX(2em)
}

.circleInitialFail{
  transform: translateX(0em)
}


@keyframes moveRight{
  from {
    transform: translateX(0em);
    // justify-content: flex-start;
    // float: left;
    // margin-left: auto;
  }
  to {
    transform: translateX(2em);
    // justify-content: flex-end;
    // float: right;
    // margin-left: auto;
  }
}

@keyframes moveLeft{
  from {
    transform: translateX(2em);
    // justify-content: flex-start;
    // float: left;
    // margin-left: auto;
  }
  to {
    transform: translateX(0em);
    // justify-content: flex-end;
    // float: right;
    // margin-left: auto;
  }
}

.ButtonClassAble{
  cursor: pointer;
}

.ButtonClassDisabled{
  cursor: not-allowed;
}

