.packages-yulang-popover-container {
  display: inline-block;

  .yulang-popover-reference {
    display: inline-block;

    .yulang-popover-reference-trigger {
      display: inline-block;
    }
  }
}
