.yulang-animate {
    /* 设置动画初始执行时间为1s */
    animation-duration: 1s;
    animation-fill-mode: both;
}


/* 忽下忽上 */

.yulang-animate.yulang-up-and-down {
    animation: yulang-up-and-down infinite 2s ease-in-out;
}

@keyframes yulang-up-and-down {
    50% {
        transform: translateY(30px);
    }
}


/* 骨架屏加载 */

.yulang-animate.yulang-skeleton {
    background: linear-gradient(to right, #f6f7f8 0%, #edeef1 10%, #f6f7f8 20%, #f6f7f8 100%);
    background-size: 200% 100%;
    animation: yulang-skeleton 1s linear infinite;
}

@keyframes yulang-skeleton {
    0% {
        background-position: 50% 0;
    }
    100% {
        background-position: -150% 0;
    }
}


/* 
    dance-------------------------------------------
*/


/* 草木随风摇摆 */

.yulang-animate.yulang-dance-bottom {
    animation-name: yulang-dance-bottom;
    /* 设置元素转换的原点 */
    transform-origin: bottom;
}

@keyframes yulang-dance-bottom {
    16% {
        transform: skew(-14deg)
    }
    33% {
        transform: skew(12deg)
    }
    49% {
        transform: skew(-8deg)
    }
    66% {
        transform: skew(6deg)
    }
    83% {
        transform: skew(-4deg)
    }
}


/* 两头摇摆 */

.yulang-animate.yulang-dance-middle {
    animation-name: yulang-dance-middle;
}

@keyframes yulang-dance-middle {
    16% {
        transform: skew(-14deg)
    }
    33% {
        transform: skew(12deg)
    }
    49% {
        transform: skew(-8deg)
    }
    66% {
        transform: skew(6deg)
    }
    83% {
        transform: skew(-4deg)
    }
}


/* 晒衣服 */

.yulang-animate.yulang-dance-top {
    animation-name: yulang-dance-top;
    transform-origin: top;
}

@keyframes yulang-dance-top {
    16% {
        transform: skew(-14deg)
    }
    33% {
        transform: skew(12deg)
    }
    49% {
        transform: skew(-8deg)
    }
    66% {
        transform: skew(6deg)
    }
    83% {
        transform: skew(-4deg)
    }
}


/* --------------------------------------------------- */


/* Zoom Out------------------------------------------- */


/* 原地消失 */

.yulang-animate.yulang-zoom-out {
    animation-name: yulang-zoom-out;
}

@keyframes yulang-zoom-out {
    to {
        transform: scale(10);
        opacity: 0;
    }
}


/* 左移消失 */

.yulang-animate.yulang-zoom-out-left {
    animation-name: yulang-zoom-out-left;
}

@keyframes yulang-zoom-out-left {
    to {
        transform: scale(10) translateX(-50%);
        opacity: 0;
    }
}


/* 右移消失 */

.yulang-animate.yulang-zoom-out-right {
    animation-name: yulang-zoom-out-right;
}

@keyframes yulang-zoom-out-right {
    to {
        transform: scale(10) translateX(50%);
        opacity: 0;
    }
}


/* 爬升消失 */

.yulang-animate.yulang-zoom-out-top {
    animation-name: yulang-zoom-out-top;
}

@keyframes yulang-zoom-out-top {
    to {
        transform: scale(10) translateY(-50%);
        opacity: 0;
    }
}


/* 掉落消失 */

.yulang-animate.yulang-zoom-out-bottom {
    animation-name: yulang-zoom-out-bottom;
}

@keyframes yulang-zoom-out-bottom {
    to {
        transform: scale(10) translateY(50%);
        opacity: 0;
    }
}


/* ---------------------------------------------------------------- */


/* Zoom In---------------------------------------------------------------- */


/* 原地缩小显现 */

.yulang-animate.yulang-zoom-in {
    animation-name: yulang-zoom-in;
}

@keyframes yulang-zoom-in {
    from {
        transform: scale(10);
        opacity: 0;
    }
}


/* 左方进入缩小显现 */

.yulang-animate.yulang-zoom-in-left {
    animation-name: yulang-zoom-in-left;
}

@keyframes yulang-zoom-in-left {
    from {
        transform: scale(10) translateX(-50%);
        opacity: 0;
    }
}


/* 右方进入缩小显现 */

.yulang-animate.yulang-zoom-in-right {
    animation-name: yulang-zoom-in-right;
}

@keyframes yulang-zoom-in-right {
    from {
        transform: scale(10) translateX(50%);
        opacity: 0;
    }
}


/* 掉落缩小显现 */

.yulang-animate.yulang-zoom-in-top {
    animation-name: yulang-zoom-in-top;
}

@keyframes yulang-zoom-in-top {
    from {
        transform: scale(10) translateY(-50%);
        opacity: 0;
    }
}


/* 漂浮缩小显现 */

.yulang-animate.yulang-zoom-in-bottom {
    animation-name: yulang-zoom-in-bottom;
}

@keyframes yulang-zoom-in-bottom {
    from {
        transform: scale(10) translateY(50%);
        opacity: 0;
    }
}


/* ------------------------------------------------------------ */


/* perspective使元素具备前后距离，使用3d旋转时，搭配使用使效果更顺滑 */


/* 向上翻转消失 */

.yulang-animate.yulang-perspective-to-top {
    animation-name: yulang-perspective-to-top;
    transform-style: preserve-3d;
}

@keyframes yulang-perspective-to-top {
    50% {
        opacity: 1
    }
    to {
        transform: perspective(500px) rotateX(90deg) translateY(-50px) translateZ(50px);
        opacity: 0;
    }
}

.yulang-animate.yulang-perspective-to-bottom {
    animation-name: yulang-perspective-to-bottom;
    transform-style: preserve-3d
}

@keyframes yulang-perspective-to-bottom {
    50% {
        opacity: 1
    }
    to {
        transform: perspective(500px) rotateX(90deg) translateY(50px) translateZ(-50px);
        opacity: 0;
    }
}


/* ----------------------------------------------------------------------- */


/* Rotate In----------------------------------------------------------------------- */


/* 从左翻转显示 */

.yulang-animate.yulang-rotate-in-left {
    animation-name: yulang-rotate-in-left;
}

@keyframes yulang-rotate-in-left {
    from {
        opacity: 0;
        transform: translateX(-100%) rotate(0deg)
    }
    to {
        transform: translateX(0px) rotate(360deg)
    }
}


/* 从右翻转显示 */

.yulang-animate.yulang-rotate-in-right {
    animation-name: yulang-rotate-in-right;
}

@keyframes yulang-rotate-in-right {
    from {
        opacity: 0;
        transform: translateX(100%) rotate(0deg)
    }
    to {
        transform: translateX(0px) rotate(-360deg)
    }
}


/* 旋转掉落显示 */

.yulang-animate.yulang-rotate-in-top {
    animation-name: yulang-rotate-in-top;
}

@keyframes yulang-rotate-in-top {
    from {
        opacity: 0;
        transform: translateY(-400%) rotate(0deg)
    }
    to {
        transform: translateX(0px) rotate(360deg)
    }
}


/* 旋转漂浮显示 */

.yulang-animate.yulang-rotate-in-bottom {
    animation-name: yulang-rotate-in-bottom;
}

@keyframes yulang-rotate-in-bottom {
    from {
        opacity: 0;
        transform: translateY(400%) rotate(0deg)
    }
    to {
        transform: translateX(0px) rotate(360deg)
    }
}


/* -------------------------------------------------------- */


/* Rotate Out---------------------------------------------- */

.yulang-animate.yulang-rotate-out-left {
    animation-name: yulang-rotate-out-left;
}


/* 左侧滚动离开 */

@keyframes yulang-rotate-out-left {
    from {
        transform: translateX(0px) rotate(360deg)
    }
    to {
        transform: translateX(-800px) rotate(0deg);
        opacity: 0
    }
}


/* 右侧滚动离开 */

.yulang-animate.yulang-rotate-out-right {
    animation-name: yulang-rotate-out-right;
}

@keyframes yulang-rotate-out-right {
    from {
        transform: translateX(0px) rotate(-360deg)
    }
    to {
        transform: translateX(800px) rotate(0deg);
        opacity: 0
    }
}


/* 漂浮滚动离开 */

.yulang-animate.yulang-rotate-out-top {
    animation-name: yulang-rotate-out-top;
}

@keyframes yulang-rotate-out-top {
    from {
        transform: translateX(0px) rotate(360deg)
    }
    to {
        transform: translateY(-800px) rotate(0deg);
        opacity: 0
    }
}


/* 掉落滚动离开 */

.yulang-animate.yulang-rotate-out-bottom {
    animation-name: yulang-rotate-out-bottom;
}

@keyframes yulang-rotate-out-bottom {
    from {
        transform: translateX(0px) rotate(360deg)
    }
    to {
        transform: translateY(800px) rotate(0deg);
        opacity: 0
    }
}


/* ------------------------------------------------- */


/* Spin In------------------------------------------ */

.yulang-animate.yulang-spin-in-right-bottom {
    animation-name: yulang-spin-in-right-bottom;
}


/* 右下角旋转出现 */

@keyframes yulang-spin-in-right-bottom {
    from,
    to {
        transform-origin: left bottom;
    }
    from {
        transform: rotate(90deg);
        opacity: 0;
    }
}


/* 左下角旋转出现 */

.yulang-animate.yulang-spin-in-left-bottom {
    animation-name: yulang-spin-in-left-bottom;
}

@keyframes yulang-spin-in-left-bottom {
    from,
    to {
        transform-origin: right bottom;
    }
    from {
        transform: rotate(-90deg);
        opacity: 0;
    }
}


/* 左上角旋转出现 */

.yulang-animate.yulang-spin-in-left-top {
    animation-name: yulang-spin-in-left-top;
}

@keyframes yulang-spin-in-left-top {
    from,
    to {
        transform-origin: left bottom;
    }
    from {
        transform: rotate(-90deg);
        opacity: 0;
    }
}


/* 右上角旋转出现 */

.yulang-animate.yulang-spin-in-right-top {
    animation-name: yulang-spin-in-right-top;
}

@keyframes yulang-spin-in-right-top {
    from,
    to {
        transform-origin: right bottom;
    }
    from {
        transform: rotate(90deg);
        opacity: 0;
    }
}


/* -------------------------------------------------- */


/* Spin Out----------------------------------------- */


/* 左下角旋转消失 */

.yulang-animate.yulang-spin-out-left-bottom {
    animation-name: yulang-spin-out-left-bottom;
}

@keyframes yulang-spin-out-left-bottom {
    from,
    to {
        transform-origin: left bottom;
    }
    to {
        transform: rotate(90deg);
        opacity: 0;
    }
}


/* 右下角旋转消失 */

.yulang-animate.yulang-spin-out-right-bottom {
    animation-name: yulang-spin-out-right-bottom;
}

@keyframes yulang-spin-out-right-bottom {
    from,
    to {
        transform-origin: right bottom;
    }
    to {
        transform: rotate(-90deg);
        opacity: 0;
    }
}


/* 左上角旋转消失 */

.yulang-animate.yulang-spin-out-left-top {
    animation-name: yulang-spin-out-left-top;
}

@keyframes yulang-spin-out-left-top {
    from,
    to {
        transform-origin: left bottom;
    }
    to {
        transform: rotate(-90deg);
        opacity: 0;
    }
}


/* 右上角旋转消失 */

.yulang-animate.yulang-spin-out-right-top {
    animation-name: yulang-spin-out-right-top;
}

@keyframes yulang-spin-out-right-top {
    from,
    to {
        transform-origin: right bottom;
    }
    to {
        transform: rotate(90deg);
        opacity: 0;
    }
}


/* ------------------------------------------------ */


/* Blur In -----------------------------------------*/


/* 清晰出现 */

.yulang-animate.yulang-blur-in {
    animation-name: yulang-blur-in;
}

@keyframes yulang-blur-in {
    from {
        filter: blur(20px);
        opacity: 0;
    }
}


/* 从左侧清晰出现 */

.yulang-animate.yulang-blur-in-left {
    animation-name: yulang-blur-in-left;
}

@keyframes yulang-blur-in-left {
    from {
        transform: translateX(-100%);
        filter: blur(20px);
        opacity: 0;
    }
}


/* 从右侧清晰出现 */

.yulang-animate.yulang-blur-in-right {
    animation-name: yulang-blur-in-right;
}

@keyframes yulang-blur-in-right {
    from {
        transform: translateX(100%);
        filter: blur(20px);
        opacity: 0;
    }
}


/* 掉落清晰出现 */

.yulang-animate.yulang-blur-in-top {
    animation-name: yulang-blur-in-top;
}

@keyframes yulang-blur-in-top {
    from {
        transform: translateY(-100%);
        filter: blur(20px);
        opacity: 0;
    }
}


/* 漂浮清晰出现 */

.yulang-animate.yulang-blur-in-bottom {
    animation-name: yulang-blur-in-bottom;
}

@keyframes yulang-blur-in-bottom {
    from {
        transform: translateY(100%);
        filter: blur(20px);
        opacity: 0;
    }
}


/* ------------------------------------------------- */


/* Blur Out ---------------------------------------- */


/* 失焦离开 */

.yulang-animate.yulang-blur-out {
    animation-name: yulang-blur-out;
}

@keyframes yulang-blur-out {
    85%,
    to {
        filter: blur(20px)
    }
    to {
        opacity: 0
    }
}


/* 右侧失焦离开 */

.yulang-animate.yulang-blur-out-right {
    animation-name: yulang-blur-out-right;
}

@keyframes yulang-blur-out-right {
    85%,
    to {
        filter: blur(20px);
        transform: translateX(100%);
    }
    to {
        opacity: 0
    }
}


/* 左侧失焦离开 */

.yulang-animate.yulang-blur-out-left {
    animation-name: yulang-blur-out-left;
}

@keyframes yulang-blur-out-left {
    85%,
    to {
        filter: blur(20px);
        transform: translateX(-100%);
    }
    to {
        opacity: 0
    }
}


/* 失焦掉落离开 */

.yulang-animate.yulang-blur-out-top {
    animation-name: yulang-blur-out-top;
}

@keyframes yulang-blur-out-top {
    85%,
    to {
        filter: blur(20px);
        transform: translateY(-100%);
    }
    to {
        opacity: 0
    }
}


/* 失焦漂浮离开 */

.yulang-animate.yulang-blur-out-bottom {
    animation-name: yulang-blur-out-bottom;
}

@keyframes yulang-blur-out-bottom {
    85%,
    to {
        filter: blur(20px);
        transform: translateY(100%);
    }
    to {
        opacity: 0
    }
}


/* --------------------------------------------- */


/* Bounce--------------------------------------- */


/* 往上拉伸抖动 */

.yulang-animate.yulang-bounce-y-top {
    animation-name: yulang-bounce-y-top;
}

@keyframes yulang-bounce-y-top {
    0%,
    25%,
    55%,
    85%,
    100% {
        animation-timing-function: ease-out;
        transform: translate3d(0, 0, 0);
    }
    41%,
    44% {
        animation-timing-function: ease-in;
        transform: translate3d(0, -80px, 0) scale3d(1, 1.6, 1);
    }
    70% {
        animation-timing-function: ease-in;
        transform: translate3d(0, -20px, 0);
    }
    90% {
        transform: translate3d(0, -4px, 0)
    }
}


/* 往下拉伸抖动 */

.yulang-animate.yulang-bounce-y-bottom {
    animation-name: yulang-bounce-y-bottom;
}

@keyframes yulang-bounce-y-bottom {
    0%,
    25%,
    55%,
    85%,
    100% {
        animation-timing-function: ease-out;
        transform: translate3d(0, 0, 0);
    }
    41%,
    44% {
        animation-timing-function: ease-in;
        transform: translate3d(0, 80px, 0) scale3d(1, 1.2, 1);
    }
    70% {
        animation-timing-function: ease-in;
        transform: translate3d(0, 20px, 0);
    }
    90% {
        transform: translate3d(0, 4px, 0)
    }
}


/* 水平拉伸抖动 */

.yulang-animate.yulang-bounce-x-move {
    animation-name: yulang-bounce-x-move;
}

@keyframes yulang-bounce-x-move {
    0%,
    25%,
    55%,
    85%,
    100% {
        animation-timing-function: ease-out;
        transform: scale3d(1, 1, 1);
    }
    41%,
    44% {
        animation-timing-function: ease-in;
        transform: scale3d(1.8, 1, 1);
    }
    70% {
        animation-timing-function: ease-in;
        transform: scale3d(1.5, 1, 1);
    }
    90% {
        transform: scale3d(1.1, 1, 1)
    }
}


/* 垂直拉伸抖动 */

.yulang-animate.yulang-bounce-y-lager {
    animation-name: yulang-bounce-y-lager;
}

@keyframes yulang-bounce-y-lager {
    0%,
    25%,
    55%,
    85%,
    100% {
        animation-timing-function: ease-out;
        transform: scale3d(1, 1, 1);
    }
    41%,
    44% {
        animation-timing-function: ease-in;
        transform: scale3d(1, 2, 1);
    }
    70% {
        animation-timing-function: ease-in;
        transform: scale3d(1, 1.5, 1);
    }
    90% {
        transform: scale3d(1, 1.1, 1)
    }
}


/* 放大抖动 */

.yulang-animate.yulang-bounce-lager {
    animation-name: yulang-bounce-lager;
}

@keyframes yulang-bounce-lager {
    0%,
    25%,
    55%,
    85%,
    100% {
        animation-timing-function: ease-out;
        transform: scale(1);
    }
    41%,
    44% {
        animation-timing-function: ease-in;
        transform: scale(1.5);
    }
    70% {
        animation-timing-function: ease-in;
        transform: scale(1.3);
    }
    90% {
        transform: scale(1.1)
    }
}


/* 缩小抖动 */

.yulang-animate.yulang-bounce-smaller {
    animation-name: yulang-bounce-smaller;
}

@keyframes yulang-bounce-smaller {
    0%,
    25%,
    55%,
    85%,
    100% {
        animation-timing-function: ease-out;
        transform: scale(1);
    }
    41%,
    44% {
        animation-timing-function: ease-in;
        transform: scale(.3);
    }
    70% {
        animation-timing-function: ease-in;
        transform: scale(.5);
    }
    90% {
        transform: scale(.9)
    }
}


/* ---------------------------------------------------- */


/* Bounce In ------------------------------------------ */


/* 抖动掉落显示 */

.yulang-animate.yulang-bounce-in-top {
    animation-name: yulang-bounce-in-top;
}

@keyframes yulang-bounce-in-top {
    0% {
        transform: translate3d(0, -300%, 0)
    }
    58% {
        transform: translate3d(0, 27px, 0)
    }
    73% {
        transform: translate3d(0, -12px, 0)
    }
    88% {
        transform: translate3d(0, 7px, 0)
    }
}


/* 抖动漂浮显示 */

.yulang-animate.yulang-bounce-in-bottom {
    animation-name: yulang-bounce-in-bottom;
}

@keyframes yulang-bounce-in-bottom {
    0% {
        transform: translate3d(0, 300%, 0)
    }
    58% {
        transform: translate3d(0, -27px, 0)
    }
    73% {
        transform: translate3d(0, 12px, 0)
    }
    88% {
        transform: translate3d(0, -8px, 0)
    }
}


/* 抖动左侧进入显示 */

.yulang-animate.yulang-bounce-in-left {
    animation-name: yulang-bounce-in-left;
}

@keyframes yulang-bounce-in-left {
    0% {
        transform: translate3d(-300%, 0, 0)
    }
    58% {
        transform: translate3d(27px, 0, 0)
    }
    73% {
        transform: translate3d(-12px, 0, 0)
    }
    88% {
        transform: translate3d(8px, 0, 0)
    }
}


/* 抖动右侧进入 */

.yulang-animate.yulang-bounce-in-right {
    animation-name: yulang-bounce-in-right;
}

@keyframes yulang-bounce-in-right {
    0% {
        transform: translate3d(300%, 0, 0)
    }
    58% {
        transform: translate3d(-27px, 0, 0)
    }
    73% {
        transform: translate3d(12px, 0, 0)
    }
    88% {
        transform: translate3d(-8px, 0, 0)
    }
}


/* -------------------------------------------- */


/* Bounce Out------------------------------------------- */


/* 抖动漂浮离开 */

.yulang-animate.yulang-bounce-out-top {
    animation-name: yulang-bounce-out-top;
}

@keyframes yulang-bounce-out-top {
    18%,
    33%,
    48% {
        opacity: 1
    }
    18% {
        transform: translate3d(0, 27px, 0)
    }
    33% {
        transform: translate3d(0, -12px, 0)
    }
    48% {
        transform: translate3d(0, 8px, 0)
    }
    100% {
        opacity: 0;
        transform: translate3d(0, -300%, 0)
    }
}


/* 抖动掉落离开 */

.yulang-animate.yulang-bounce-out-bottom {
    animation-name: yulang-bounce-out-bottom;
}

@keyframes yulang-bounce-out-bottom {
    18%,
    33%,
    48% {
        opacity: 1
    }
    18% {
        transform: translate3d(0, -27px, 0)
    }
    33% {
        transform: translate3d(0, 12px, 0)
    }
    48% {
        transform: translate3d(0, -8px, 0)
    }
    100% {
        opacity: 0;
        transform: translate3d(0, 300%, 0)
    }
}


/* 抖动左侧离开 */

.yulang-animate.yulang-bounce-out-left {
    animation-name: yulang-bounce-out-left;
}

@keyframes yulang-bounce-out-left {
    18%,
    33%,
    48% {
        opacity: 1
    }
    18% {
        transform: translate3d(27px, 0, 0)
    }
    33% {
        transform: translate3d(-12px, 0, 0)
    }
    48% {
        transform: translate3d(8px, 0, 0)
    }
    100% {
        opacity: 0;
        transform: translate3d(-300%, 0, 0)
    }
}


/* 抖动右侧离开 */

.yulang-animate.yulang-bounce-out-right {
    animation-name: yulang-bounce-out-right;
}

@keyframes yulang-bounce-out-right {
    18%,
    33%,
    48% {
        opacity: 1
    }
    18% {
        transform: translate3d(-27px, 0, 0)
    }
    33% {
        transform: translate3d(12px, 0, 0)
    }
    48% {
        transform: translate3d(-8px, 0, 0)
    }
    100% {
        opacity: 0;
        transform: translate3d(300%, 0, 0)
    }
}


/* --------------------------------------------------- */


/*************************************************************
Flip X
**************************************************************/


/* 往外翻显现 */

.yulang-animate.yulang-flip-out {
    animation-name: yulang-flip-out;
}

@keyframes yulang-flip-out {
    from {
        transform: perspective(600px) rotateX(-180deg);
        opacity: 0;
    }
    to {
        transform: perspective(600px) rotateX(-360deg)
    }
}

.yulang-animate.yulang-flip-x-zoom-in {
    animation-name: yulang-flip-x-zoom-in;
}


/* 往外旋转一周显现 */

@keyframes yulang-flip-x-zoom-in {
    from {
        transform: perspective(600px) rotateX(0deg) scale(1);
        animation-timing-function: ease-out;
    }
    40% {
        transform: perspective(600px) rotateX(-180deg) scale(1.8);
        animation-timing-function: ease-out;
    }
    80% {
        transform: perspective(600px) rotateX(-360deg) scale(.7);
        animation-timing-function: ease-in;
    }
    to {
        transform: scale(1)
    }
}


/* 往内旋转一周显现 */

.yulang-animate.yulang-flip-x-zoom-out {
    animation-name: yulang-flip-x-zoom-out;
}

@keyframes yulang-flip-x-zoom-out {
    from {
        transform: perspective(600px) rotateX(0deg) scale(1);
        animation-timing-function: ease-out;
    }
    40% {
        transform: perspective(600px) rotateX(180deg) scale(1.8);
        animation-timing-function: ease-out;
    }
    80% {
        transform: perspective(600px) rotateX(360deg) scale(.7);
        animation-timing-function: ease-in;
    }
    to {
        transform: scale(1)
    }
}


/*************************************************************
Flip Y
**************************************************************/


/* 往右翻转显现 */

.yulang-animate.yulang-flip-y {
    animation-name: yulang-flip-y;
}

@keyframes yulang-flip-y {
    from {
        transform: perspective(600px) rotateY(180deg);
        opacity: 0;
    }
    to {
        transform: perspective(600px) rotateY(360deg)
    }
}


/* 往右翻转扩缩出现 */

.yulang-animate.yulang-flip-y-zoom-in {
    animation-name: yulang-flip-y-zoom-in;
}

@keyframes yulang-flip-y-zoom-in {
    from {
        transform: perspective(600px) rotateY(0deg) scale(1);
        animation-timing-function: ease-out;
    }
    40% {
        transform: perspective(600px) rotateY(180deg) scale(1.6);
        animation-timing-function: ease-out;
    }
    80% {
        transform: perspective(600px) rotateY(360deg) scale(.7);
        animation-timing-function: ease-in;
    }
    to {
        transform: scale(1)
    }
}


/* 往右翻转缩扩出现 */

.yulang-animate.yulang-flip-y-zoom-out {
    animation-name: yulang-flip-y-zoom-out;
}

@keyframes yulang-flip-y-zoom-out {
    from {
        transform: perspective(600px) rotateY(0deg) scale(1);
        animation-timing-function: ease-out;
    }
    40% {
        transform: perspective(600px) rotateY(180deg) scale(.6);
        animation-timing-function: ease-out;
    }
    80% {
        transform: perspective(600px) rotateY(360deg) scale(1.8);
        animation-timing-function: ease-in;
    }
    to {
        transform: scale(1)
    }
}


/*************************************************************
Skew
**************************************************************/


/* 往左上角拉伸显现 */

.yulang-animate.yulang-skew-left {
    animation-name: yulang-skew-left;
}

@keyframes yulang-skew-left {
    70% {
        transform: skewX(40deg)
    }
}


/* 往右上角拉伸显现 */

.yulang-animate.yulang-skew-right {
    animation-name: yulang-skew-right;
}

@keyframes yulang-skew-right {
    70% {
        transform: skewX(-40deg)
    }
}


/* 右上角拉伸左侧进入 */

.yulang-animate.yulang-skew-in-left {
    animation-name: yulang-skew-in-left;
}

@keyframes yulang-skew-in-left {
    from {
        opacity: 0;
        transform: translateX(-100%) skewX(-40deg)
    }
    70% {
        transform: skewX(-30deg)
    }
}


/* 左上角拉伸右侧进入 */

.yulang-animate.yulang-skew-in-right {
    animation-name: yulang-skew-in-right;
}

@keyframes yulang-skew-in-right {
    from {
        opacity: 0;
        transform: translateX(100%) skewX(40deg)
    }
    70% {
        transform: skewX(30deg)
    }
}


/* 左上角拉伸左侧离开 */

.yulang-animate.yulang-skew-out-left {
    animation-name: yulang-skew-out-left;
}

@keyframes yulang-skew-out-left {
    20% {
        transform: skewX(40deg)
    }
    to {
        transform: translateX(-100%) skewX(40deg);
        opacity: 0
    }
}


/* 右上角拉伸右侧离开 */

.yulang-animate.yulang-skew-out-right {
    animation-name: yulang-skew-out-right;
}

@keyframes yulang-skew-out-right {
    20% {
        transform: skewX(-40deg)
    }
    to {
        transform: translateX(100%) skewX(-40deg);
        opacity: 0
    }
}


/*************************************************************
Shock In
**************************************************************/


/* 带停顿缩小显现 */

.yulang-animate.yulang-shock-zoom {
    animation-name: yulang-shock-zoom;
}

@keyframes yulang-shock-zoom {
    from {
        transform: matrix(5, 0, 0, 5, 0, 0)
    }
    35% {
        transform: matrix(2, 0, 0, 2, 0, 0)
    }
    43% {
        transform: matrix(1, 0, 0, 1, 0, 0)
    }
}


/* 带停顿左侧进入 */

.yulang-animate.yulang-shock-in-left {
    animation-name: yulang-shock-in-left;
}

@keyframes yulang-shock-in-left {
    from {
        transform: matrix(1, 0, 0, 1, -800, 0)
    }
    35% {
        transform: matrix(1, 0, 0, 1, 50, 0)
    }
    43% {
        transform: matrix(1, 0, 0, 1, 0, 0)
    }
}


/* 带停顿右侧进入 */

.yulang-animate.yulang-shock-in-right {
    animation-name: yulang-shock-in-right;
}

@keyframes yulang-shock-in-right {
    from {
        transform: matrix(1, 0, 0, 1, 800, 0)
    }
    35% {
        transform: matrix(1, 0, 0, 1, -50, 0)
    }
    43% {
        transform: matrix(1, 0, 0, 1, 0, 0)
    }
}


/* 带停顿掉落出现 */

.yulang-animate.yulang-shock-in-top {
    animation-name: yulang-shock-in-top;
}

@keyframes yulang-shock-in-top {
    from {
        transform: matrix(1, 0, 0, 1, 0, -400)
    }
    35% {
        transform: matrix(1, 0, 0, 1, 0, 50)
    }
    43% {
        transform: matrix(1, 0, 0, 1, 0, 0)
    }
}


/* 带停顿漂浮出现 */

.yulang-animate.yulang-shock-in-bottom {
    animation-name: yulang-shock-in-bottom;
}

@keyframes yulang-shock-in-bottom {
    from {
        transform: matrix(1, 0, 0, 1, 0, 400)
    }
    35% {
        transform: matrix(1, 0, 0, 1, 0, -50)
    }
    43% {
        transform: matrix(1, 0, 0, 1, 0, 0)
    }
}


/*************************************************************
Pull release
**************************************************************/


/* 快大慢小 */

.yulang-animate.yulang-pull-release {
    animation-name: yulang-pull-release;
}

@keyframes yulang-pull-release {
    15% {
        transform: scale(1.8)
    }
}


/* 快小慢大 */

.yulang-animate.yulang-push-release {
    animation-name: yulang-push-release;
}

@keyframes yulang-push-release {
    15% {
        transform: scale(.5)
    }
}


/*************************************************************
Swing In
**************************************************************/


/* 左侧缩小停顿显现 */

.yulang-swing-in-left {
    animation-name: yulang-swing-in-left;
}

@keyframes yulang-swing-in-left {
    from {
        transform: matrix(3, 0, 0, 3, -800, 0);
        animation-timing-function: ease-out;
    }
    50% {
        transform: matrix(1.3, 0, 0, 1.3, 20, 0)
    }
}


/* 右侧缩小停顿显现 */

.yulang-swing-in-right {
    animation-name: yulang-swing-in-right;
}

@keyframes yulang-swing-in-right {
    from {
        transform: matrix(3, 0, 0, 3, 800, 0);
        animation-timing-function: ease-out;
    }
    50% {
        transform: matrix(1.3, 0, 0, 1.3, -20, 0)
    }
}


/* 掉落缩小停顿显现 */

.yulang-animate.yulang-swing-in-top {
    animation-name: yulang-swing-in-top;
}

@keyframes yulang-swing-in-top {
    from {
        transform: matrix(3, 0, 0, 3, 0, -800);
        animation-timing-function: ease-out;
    }
    50% {
        transform: matrix(1.3, 0, 0, 1.3, 0, 20)
    }
}


/* 漂浮缩小停顿进入 */

.yulang-animate.yulang-swing-in-bottom {
    animation-name: yulang-swing-in-bottom
}

@keyframes yulang-swing-in-bottom {
    from {
        transform: matrix(3, 0, 0, 3, 0, 800);
        animation-timing-function: ease-out;
    }
    50% {
        transform: matrix(1.3, 0, 0, 1.3, 0, -20)
    }
}


/*************************************************************
Elevate
**************************************************************/


/* 右侧钓鱼提起 */

.yulang-animate.yulang-elevate-left {
    animation-name: yulang-elevate-left;
}

@keyframes yulang-elevate-left {
    from {
        transform: translateY(100%) rotate(-20deg);
        transform-origin: right;
    }
    40% {
        transform: rotate(20deg);
        transform-origin: right;
    }
    65% {
        transform: rotate(0deg);
        transform-origin: right;
    }
}


/* 左侧钓鱼提起 */

.yulang-animate.yulang-elevate-right {
    animation-name: yulang-elevate-right
}

@keyframes yulang-elevate-right {
    from {
        transform: translateY(100%) rotate(20deg);
        transform-origin: left;
    }
    40% {
        transform: rotate(-20deg);
        transform-origin: left;
    }
    65% {
        transform: rotate(0deg);
        transform-origin: left;
    }
}


/*************************************************************
Roll From
**************************************************************/


/* 左侧翻页显现 */

.yulang-animate.yulang-roll-from-left {
    animation-name: yulang-roll-from-left;
}

@keyframes yulang-roll-from-left {
    from {
        transform: translateX(-100%) perspective(600px) rotateY(180deg);
        opacity: 0
    }
    to {
        transform: translateX(0) perspective(600px) rotateY(0deg);
        opacity: 1
    }
}


/* 右侧翻页显现 */

.yulang-animate.yulang-roll-from-right {
    animation-name: yulang-roll-from-right;
}

@keyframes yulang-roll-from-right {
    from {
        transform: translateX(100%) perspective(600px) rotateY(-180deg);
        opacity: 0
    }
    to {
        transform: translateX(0) perspective(600px) rotateY(0deg);
        opacity: 1
    }
}


/* 掉落翻页显现 */

.yulang-animate.yulang-roll-from-top {
    animation-name: yulang-roll-from-top;
}

@keyframes yulang-roll-from-top {
    from {
        transform: translateY(-100%) perspective(600px) rotateY(180deg);
        opacity: 0
    }
    to {
        transform: translateY(0) perspective(600px) rotateY(0deg);
        opacity: 1
    }
}


/* 漂浮翻页显现 */

.yulang-animate.yulang-roll-from-bottom {
    animation-name: yulang-roll-from-bottom;
}

@keyframes yulang-roll-from-bottom {
    from {
        transform: translateY(100%) perspective(600px) rotateY(-180deg);
        opacity: 0
    }
    to {
        transform: translateY(0) perspective(600px) rotateY(0deg);
        opacity: 1
    }
}


/*************************************************************
Roll To
**************************************************************/


/* 左侧翻页离开 */

.yulang-animate.yulang-roll-to-left {
    animation-name: yulang-roll-to-left
}

@keyframes yulang-roll-to-left {
    from {
        transform: translateX(0) perspective(600px) rotateY(0deg);
        opacity: 1
    }
    to {
        transform: translateX(-100%) perspective(600px) rotateY(180deg);
        opacity: 0
    }
}


/* 右侧翻页离开 */

.yulang-animate.yulang-roll-to-right {
    animation-name: yulang-roll-to-right;
}

@keyframes yulang-roll-to-right {
    from {
        transform: translateX(0) perspective(600px) rotateY(0deg);
        opacity: 1
    }
    to {
        transform: translateX(100%) perspective(600px) rotateY(-180deg);
        opacity: 0
    }
}


/* 漂浮翻页离开 */

.yulang-animate.yulang-roll-to-top {
    animation-name: yulang-roll-to-top;
}

@keyframes yulang-roll-to-top {
    from {
        transform: translateY(0) perspective(600px) rotateX(0deg);
        opacity: 1
    }
    to {
        transform: translateY(-100%) perspective(600px) rotateX(180deg);
        opacity: 0
    }
}


/* 掉落翻页离开 */

.yulang-animate.yulang-roll-to-bottom {
    animation-name: yulang-roll-to-bottom;
}

@keyframes yulang-roll-to-bottom {
    to {
        transform: translateY(0) perspective(600px) rotateX(0deg);
        opacity: 1
    }
    to {
        transform: translateY(100%) perspective(600px) rotateX(-180deg);
        opacity: 0
    }
}


/*************************************************************
Rotation
**************************************************************/


/* 原地旋转一周 */

.yulang-animate.yulang-rotate {
    animation-name: yulang-rotate;
    animation-timing-function: ease-in-out
}

@keyframes yulang-rotate {
    from {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(360deg)
    }
}


/* 往后倒 */

.yulang-animate.yulang-rotate-x {
    animation-name: yulang-rotate-x;
}

@keyframes yulang-rotate-x {
    from {
        transform: perspective(600px) rotateX(0deg)
    }
    to {
        transform: perspective(600px) rotateX(90deg)
    }
}


/* 翻页显现 */

.yulang-animate.yulang-rotate-x-in {
    animation-name: yulang-rotate-x-in
}

@keyframes yulang-rotate-x-in {
    from {
        transform: perspective(600px) translate3d(0, -60px, -2000px) rotateX(75deg);
        opacity: 0;
    }
    5% {
        transform: perspective(600px) translate3d(0, -60px, -1500px) rotateX(75deg)
    }
}

.yulang-animate.yulang-rotate-x-out {
    animation-name: yulang-rotate-x-out;
}


/* 翻页离开 */

@keyframes yulang-rotate-x-out {
    95% {
        transform: perspective(600px) translate3d(0, -60px, -1500px) rotateX(75deg)
    }
    to {
        transform: perspective(600px) translate3d(0, -60px, -2000px) rotateX(75deg);
        opacity: 0;
    }
}


/* 往侧面倒 */

.yulang-animate.yulang-rotate-y {
    animation-name: yulang-rotate-y;
}

@keyframes yulang-rotate-y {
    from {
        transform: perspective(600px) rotateY(0deg)
    }
    to {
        transform: perspective(600px) rotateY(90deg)
    }
}


/* 侧面翻页显现 */

.yulang-animate.yulang-rotate-y-in {
    animation-name: yulang-rotate-y-in;
}

@keyframes yulang-rotate-y-in {
    from {
        transform: perspective(600px) translate3d(0, -60px, -2000px) rotateY(75deg);
        opacity: 0;
    }
    5% {
        transform: perspective(600px) translate3d(0, -60px, -1500px) rotateY(75deg)
    }
}


/* 侧面翻页离开 */

.yulang-animate.yulang-rotate-y-out {
    animation-name: yulang-rotate-y-out;
}

@keyframes yulang-rotate-y-out {
    95% {
        transform: perspective(600px) translate3d(0, -60px, -1500px) rotateY(75deg)
    }
    to {
        transform: perspective(600px) translate3d(0, -60px, -2000px) rotateY(75deg);
        opacity: 0;
    }
}


/* =================================================================== */
/* =================================================================== */

/* Fade In ---------------------------------------- */

/*  逐渐进入 */
.yulang-animate.yulang-fade-in { 
	animation-name: yulang-fade-in
}

@keyframes yulang-fade-in {
	from { opacity: 0 }
	to { opacity: 1 }
}

/* 从左逐渐进入 */
.yulang-animate.yulang-fade-in-left { 
	animation-name: yulang-fade-in-left 
}

@keyframes yulang-fade-in-left {
	from {
			opacity: 0;
			transform: translateX(-100%);
	}
	to { opacity: 1 }
}

/* 从右逐渐进入 */
.yulang-animate.yulang-fade-in-right { 
	animation-name: yulang-fade-in-right 
}

@keyframes yulang-fade-in-right {
	from {
			opacity: 0;
			transform: translateX(100%);
	}
	to { opacity: 1 }
}

/* 从上逐渐进入 */
.yulang-animate.yulang-fade-in-top { 
	animation-name: yulang-fade-in-top 
}

@keyframes yulang-fade-in-top {
	from {
			opacity: 0;
			transform: translateY(-100%);
	}
	to { opacity: 1 }
}

/* 从下逐渐进入*/
.yulang-animate.yulang-fade-in-bottom { 
	animation-name: yulang-fade-in-bottom 
}

@keyframes yulang-fade-in-bottom {
	from {
			opacity: 0;
			transform: translateY(100%);
	}
	to { opacity: 1 }
}

/* --------------------------------------------- */

/* Fade Out ---------------------------------------- */

/* 逐渐消失 */
.yulang-animate.yulang-fade-out { 
	animation-name: yulang-fade-out 
}

@keyframes yulang-fade-out  {
	to { opacity: 0 }
}

/* 向左逐渐消失 */
.yulang-animate.yulang-fade-out-left { 
	animation-name: yulang-fade-out-left 
}

@keyframes yulang-fade-out-left {
	from { opacity: 1 }
	to {
			opacity: 0;
			transform: translateX(-100%);
	}
}
/* 向右逐渐消失 */
.yulang-animate.yulang-fade-out-right { 
	animation-name: yulang-fade-out-right 
}

@keyframes yulang-fade-out-right {
	from { opacity: 1 }
	to {
			opacity: 0;
			transform: translateX(100%);
	}
}
/* 向上逐渐消失 */
.yulang-animate.yulang-fade-out-top { 
	animation-name: yulang-fade-out-top 
}

@keyframes yulang-fade-out-top {
	from { opacity: 1 }
	to {
			opacity: 0;
			transform: translateY(-100%);
	}
}
/* 向下逐渐消失 */
.yulang-animate.yulang-fade-out-bottom { 
	animation-name: yulang-fade-out-bottom 
}

@keyframes yulang-fade-out-bottom {
	from { opacity: 1 }
	to {
			opacity: 0;
			transform: translateY(100%);
	}
}

/* --------------------------------------------- */

/* Move From ---------------------------------------- */

/* 从左移入 */
.yulang-animate.yulang-move-from-left { 
	animation-name: yulang-move-from-left 
}

@keyframes yulang-move-from-left {
	from { transform: translateX(-800px) }
}

/* 从右移入 */
.yulang-animate.yulang-move-from-right { 
	animation-name: yulang-move-from-right 
}

@keyframes yulang-move-from-right {
	from { transform: translateX(800px) }
}

/* 从上移入 */
.yulang-animate.yulang-move-from-top { 
	animation-name: yulang-move-from-top 
}

@keyframes yulang-move-from-top {
	from { transform: translateY(-800px) }
}

/* 从下移入 */
.yulang-animate.yulang-move-from-bottom { 
	animation-name: yulang-move-from-bottom 
}

@keyframes yulang-move-from-bottom {
	from { transform: translateY(800px) }
}

/* --------------------------------------------- */

/* Move To ---------------------------------------- */

/* 向左移出 */
.yulang-animate.yulang-move-to-left { 
	animation-name: yulang-move-to-left 
}

@keyframes yulang-move-to-left {
	to { transform: translateX(-800px) }
}

/* 向右移出 */
.yulang-animate.yulang-move-to-right { 
	animation-name: yulang-move-to-right 
}

@keyframes yulang-move-to-right {
	to { transform: translateX(800px) }
}

/* 向上移出 */
.yulang-animate.yulang-move-to-top { 
	animation-name: yulang-move-to-top 
}

@keyframes yulang-move-to-top {
	to { transform: translateY(-800px) }
}

/* 向下移出 */
.yulang-animate.yulang-move-to-bottom { 
	animation-name: yulang-move-to-bottom 
}

@keyframes yulang-move-to-bottom {
	to { transform: translateY(800px) }
}


/* --------------------------------------------- */

/* Door ---------------------------------------- */

/* 从左关门 */
.yulang-animate.yulang-door-close-from-left { 
	animation-name: yulang-door-close-from-left 
}

@keyframes yulang-door-close-from-left {
	from {
			transform: perspective(400px) rotateY(90deg);
			transform-origin: left;
			opacity: 0;
	}
	50%, to {
			transform: perspective(400px) rotateY(0deg);
			transform-origin: left;
			opacity: 1;
	}
}

/* 从右开门 */
.yulang-animate.yulang-door-open-from-right { 
	animation-name: yulang-door-open-from-right
}

@keyframes yulang-door-open-from-right {
	from {
			transform: perspective(400px) rotateY(0deg);
			transform-origin: left;
			opacity: 1;
	}
	50%, to {
			transform: perspective(400px) rotateY(90deg);
			transform-origin: left;
			opacity: 0;
	}
}

/* 从右关门 */
.yulang-animate.yulang-door-close-from-right { 
	animation-name: yulang-door-close-from-right
}

@keyframes yulang-door-close-from-right {
	from {
			transform: perspective(400px) rotateY(-90deg);
			transform-origin: right;
			opacity: 0;
	}
	50%, to {
			transform: perspective(400px) rotateY(0deg);
			transform-origin: right;
			opacity: 1;
	}
}

/* 从左开门 */
.yulang-animate.yulang-door-open-from-left { 
	animation-name: yulang-door-open-from-left
}

@keyframes yulang-door-open-from-left {
	from {
			transform: perspective(400px) rotateY(0deg);
			transform-origin: right;
			opacity: 1;
	}
	50%, to {
			transform: perspective(400px) rotateY(-90deg);
			transform-origin: right;
			opacity: 0;
	}
}


/*************************************************************/

/**Heartbeat************************************************************/

/* 心跳慢速*/
.yulang-animate.yulang-heart-beat-slow { 
	animation-name: yulang-heart-beat-slow; 
	animation-iteration-count: infinite; 
	animation-duration: .5s 
}

@keyframes yulang-heart-beat-slow {
	35%, 65% { transform: scale(1.2) }
}

/* 心跳快速 */
.yulang-animate.yulang-heart-beat-fast { 
	animation-name: yulang-heart-beat-fast; 
	animation-iteration-count: infinite 
}

@keyframes yulang-heart-beat-fast {
	14%, 42% { transform: scale(1.3) }
	28%, 70% { transform: scale(1) }
}

/***********************************/

/*Hang On ***********************/

/* 向左悬挂 */
.yulang-animate.yulang-hang-on-left { 
	animation-name: yulang-hang-on-left 
}

@keyframes yulang-hang-on-left {
	from { transform-origin: left; }
	40% {
			transform: rotate(100deg);
			transform-origin: left;
	}
	55% {
			transform: rotate(80deg);
			transform-origin: left;
	}
	70% {
			transform: rotate(95deg);
			transform-origin: left;
	}
	85% {
			transform: rotate(85deg);
			transform-origin: left;
	}
	100% {
			transform: rotate(90deg);
			transform-origin: left;
	}
}

/* 向右悬挂 */
.yulang-animate.yulang-hang-on-right { 
	animation-name: yulang-hang-on-right 
}

@keyframes yulang-hang-on-right {
	from { transform-origin: right; }
	40% {
			transform: rotate(-100deg);
			transform-origin: right;
	}
	55% {
			transform: rotate(-80deg);
			transform-origin: right;
	}
	70% {
			transform: rotate(-95deg);
			transform-origin: right;
	}
	85% {
			transform: rotate(-85deg);
			transform-origin: right;
	}
	100% {
			transform: rotate(-90deg);
			transform-origin: right;
	}
}

/**********************/


/* Hang And Drop **************/

/* 向左悬挂并掉落 */
.yulang-animate.yulang-hang-and-drop-left { 
	animation-name: yulang-hang-and-drop-left 
}

@keyframes yulang-hang-and-drop-left {
	from { transform-origin: left }
	50% {
			transform: rotate(100deg);
			transform-origin: left;
	}
	60% {
			transform: rotate(90deg);
			transform-origin: left;
			opacity: 1;
	}
	to {
			transform: translateY(300px) rotate(70deg);
			transform-origin: left;
			opacity: 0;
	}
}

/* 向右悬挂并掉落 */

.yulang-animate.yulang-hang-and-drop-right { 
	animation-name: yulang-hang-and-drop-right 
}

@keyframes yulang-hang-and-drop-right {
	from { transform-origin: right }
	50% {
			transform: rotate(-100deg);
			transform-origin: right;
	}
	60% {
			transform: rotate(-90deg);
			transform-origin: right;
			opacity: 1;
	}
	to {
			transform: translateY(300px) rotate(-70deg);
			transform-origin: right;
			opacity: 0
	}
}

/************************/

/* Shake ***********************/

/* 震动 */
.yulang-animate.yulang-pulse-shake { 
	animation-name: yulang-pulse-shake; 
	animation-iteration-count: infinite 
}

@keyframes yulang-pulse-shake {
	90% { transform: scale(1) }
	92% { transform: scale(1.2) }
	96% { transform: scale(1, 1) }
	98% { transform: scale(1.1) }
}

/* 高速震动 */
.yulang-animate.yulang-horizontal-shake { 
	animation-name: yulang-horizontal-shake; 
	animation-iteration-count: infinite 
}

@keyframes yulang-horizontal-shake {
	3%, 12%, 21%, 30%, 39%, 48%, 57%, 65%, 74%, 83%, 92% { transform: translateX(5px) }
	6%, 15%, 24%, 33%, 42%, 51%, 60%, 68%, 77%, 86%, 95% { transform: translateX(3px) }
	9%, 18%, 27%, 36%, 45%, 54%, 63%, 71%, 80%, 89%, 98% { transform: translateX(-5px) }
}

/* 垂直高速震动 */
.yulang-animate.yulang-vertical-shake { 
	animation-name: yulang-vertical-shake; 
	animation-iteration-count: infinite 
}

@keyframes yulang-vertical-shake {
	3%, 12%, 21%, 30%, 39%, 48%, 57%, 65%, 74%, 83%, 92% { transform: translateY(5px) }
	6%, 15%, 24%, 33%, 42%, 51%, 60%, 68%, 77%, 86%, 95% { transform: translateY(3px) }
	9%, 18%, 27%, 36%, 45%, 54%, 63%, 71%, 80%, 89%, 98% { transform: translateY(-5px) }
}

/* 快速循环放大缩小 */
.yulang-animate.yulang-mad-max { 
	animation-name: yulang-mad-max; 
	animation-iteration-count: infinite 
}

@keyframes yulang-mad-max {
	3%, 12%, 21%, 30%, 39%, 48%, 57%, 65%, 74%, 83%, 92% { transform: translateY(5px) scale(1.1) }
	6%, 15%, 24%, 33%, 42%, 51%, 60%, 68%, 77%, 86%, 95% { transform: translateY(3px) scale(.8) }
	9%, 18%, 27%, 36%, 45%, 54%, 63%, 71%, 80%, 89%, 98% { transform: translateY(-5px) scale(1.1) }
}


/* 水平震动 */
.yulang-animate.yulang-cool-horizontal-shake { 
	animation-name: yulang-cool-horizontal-shake; 
	animation-iteration-count: infinite 
}

@keyframes yulang-cool-horizontal-shake {
	3%, 21%, 39%, 57%, 74%, 92% { transform: translateX(5px) }
	6%, 24%, 42%, 60%, 77%, 95% { transform: translateX(3px) }
	9%, 27%, 45%, 63%, 80%, 98% { transform: translateX(-5px) }
}

/* 垂直震动 */
.yulang-animate.yulang-cool-vertical-shake { 
	animation-name: yulang-cool-vertical-shake; 
	animation-iteration-count: infinite 
}

@keyframes yulang-cool-vertical-shake {
	3%, 21%, 39%, 57%, 74%, 92% { transform: translateY(5px) }
	6%, 24%, 42%, 60%, 77%, 95% { transform: translateY(3px) }
	9%, 27%, 45%, 63%, 80%, 98% { transform: translateY(-5px) }
}

/* 循环放大缩小 */
.yulang-animate.yulang-quiet-mad { 
	animation-name: yulang-quiet-mad; 
	animation-iteration-count: infinite 
}

@keyframes yulang-quiet-mad {
	3%, 21%, 39%, 57%, 74%, 92% { transform: translateY(5px) scale(1.1) }
	6%, 24%, 42%, 60%, 77%, 95% { transform: translateY(3px) scale(.8) }
	9%, 27%, 45%, 63%, 80%, 98% { transform: translateY(-5px) scale(1.1) }
}

/************************/

/* Push Release From ***********************/

/* 缩小再展开 */
.yulang-animate.yulang-push-release-from { 
	animation-name: yulang-push-release-from 
}

@keyframes yulang-push-release-from {
	from {
			transform: scale(3, 3);
			opacity: 0;
	}
	30% { transform: scale(.5, .5) }
}

/* 左边到右边再回来 */
.yulang-animate.yulang-push-release-from-left { 
	animation-name: yulang-push-release-from-left 
}

@keyframes yulang-push-release-from-left {
	from { transform: translateX(-100%) }
	30% { transform: translateX(100px) }
}

/* 右边到左边再回来 */
.yulang-animate.yulang-push-release-from-right { 
	animation-name: yulang-push-release-from--right 
}

@keyframes yulang-push-release-from--right {
	from { transform: translateX(100%) }
	30% { transform: translateX(-100px) }
}

/* 上面到下面再回来 */
.yulang-animate.yulang-push-release-from-top { 
	animation-name: yulang-push-release-from-top 
}

@keyframes yulang-push-release-from-top {
	from { transform: translateY(-100%) }
	30% { transform: translateY(100px) }
}


/* 下面到上面再回来 */
.yulang-animate.yulang-push-release-from-bottom { 
	animation-name: yulang-push-release-from-bottom 
}

@keyframes yulang-push-release-from-bottom {
	from { transform: translateY(100%) }
	30% { transform: translateY(-100px) }
}


/************************/

/* Push Release To ***********************/

/* 缩小再放大消失 */
.yulang-animate.yulang-push-release-to { 
	animation-name: yulang-push-release-to 
}

@keyframes yulang-push-release-to {
	30% { transform: scale(.5, .5) }
	to {
			transform: scale(5, 5);
			opacity: 0;
	}
}

/* 向左再向右消失 */
.yulang-animate.yulang-push-release-to-left { 
	animation-name: yulang-push-release-to-left 
}

@keyframes yulang-push-release-to-left {
	30% { transform: translateX(100px) }
	to {
			transform: translateX(-100%);
			opacity: 0;
	}
}

/* 向右再向左消失 */
.yulang-animate.yulang-push-release-to-right { 
	animation-name: yulang-push-release-to-right 
}

@keyframes yulang-push-release-to-right {
	30% { transform: translateX(-100px) }
	to {
			transform: translateX(100%);
			opacity: 0;
	}
}

/* 向上再向下消失 */
.yulang-animate.yulang-push-release-to-top { 
	animation-name: yulang-push-release-to-top 
}

@keyframes yulang-push-release-to-top {
	30% { transform: translateY(100px) }
	to {
			transform: translateY(-100%);
			opacity: 0;
	}
}

/* 向下再向上消失 */
.yulang-animate.yulang-push-release-to-bottom { 
	animation-name: yulang-push-release-to-bottom 
}

@keyframes yulang-push-release-to-bottom {
	30% { transform: translateY(-100px) }
	to {
			transform: translateY(100%);
			opacity: 0;
	}
}

/************************/
