:root {
    // 主题色
    --yulang-theme-color--: #69DFEB;
    // 字体颜色
    --yulang-font-color--: #0094A3;
    // 边框颜色
    --yulang-border-color--: #87D0EC;
    // 边框大小
    --yulang-border-thickness--: 1px;
    // 背景色
    --yulang-background-color--: #0094A3;
}