@primaryColor: #409eff;
@infoColor: #909399;
@warningColor: #e6a23c;
@dangerColor: #f56c6c;
@successColor: #67c23a;

:root {
    // 主题色
    --yulang-theme-color--: #3d9ef1;
    // 字体颜色
    --yulang-font-color--: #fff;
    // 边框颜色
    --yulang-border-color--: #5baffa;
    // 边框大小
    --yulang-border-thickness--: 1px;
    // 背景色
    --yulang-background-color--: #5baffa;

    /* button */
    --yulang-button-primary-color--: @primaryColor;
    --yulang-button-info-color--: @infoColor;
    --yulang-button-warning-color--: @warningColor;
    --yulang-button-danger-color--: @dangerColor;
    --yulang-button-success-color--: @successColor;
    --yulang-button-font-color--: #fff;
    --yulang-button-default-font-color--: #000;
    --yulang-button-border-radius--: 5px;
    --yulang-button-size-medium--: 45px;
    --yulang-button-size-small--: 40px;
    --yulang-button-size-mini--: 35px;
    --yulang-button-plain-font-color--: #fff;
    --yulang-button-plain-success-bgc--:#f0f9eb;
    --yulang-button-plain-success-bdc--:#c2e7b0;
    --yulang-button-plain-primary-bgc--:#ecf5ff;
    --yulang-button-plain-primary-bdc--:#b3d8ff;
    --yulang-button-plain-info-bgc--:#f4f4f5;
    --yulang-button-plain-info-bdc--:#d3d4d6;
    --yulang-button-plain-warning-bgc--:#fdf6ec;
    --yulang-button-plain-warning-bdc--:#f5dab1;
    --yulang-button-plain-danger-bgc--:#fef0f0;
    --yulang-button-plain-danger-bdc--:#fbc4c4;

    /* divider */
    --yulang-divider-thickness--: 2px;

    /* alert */
    --yulang-alert-info-color--: @infoColor;
    --yulang-alert-success-color--: @successColor;
    --yulang-alert-wraning-color--: @warningColor;
    --yulang-alert-error-color--: @dangerColor;
    --yulang-alert-light-error-bc--: #fef0f0;
    --yulang-alert-light-warning-bc--: #fdf6ec;
    --yulang-alert-light-success-bc--: #f0f9eb;
    --yulang-alert-light-info-bc--: #f4f4f5;
    --yulang-alert-dark-font-color--: #fff;
}