@primaryColor: #409eff;
@infoColor: #909399;
@warningColor: #e6a23c;
@dangerColor: #f56c6c;
@successColor: #67c23a;

:root {
    // 主题色
    --yulang-theme-color--: #3d9ef1;
    // 字体颜色
    --yulang-font-color--: #fff;
    // 边框颜色
    --yulang-border-color--: #5baffa;
    // 边框大小
    --yulang-border-thickness--: 1px;
    // 背景色
    --yulang-background-color--: #5baffa;

    /* button */
    --yulang-button-primary-color--: @primaryColor;
    --yulang-button-info-color--: @infoColor;
    --yulang-button-warning-color--: @warningColor;
    --yulang-button-danger-color--: @dangerColor;
    --yulang-button-success-color--: @successColor;
    --yulang-button-font-color--: #fff;
    --yulang-button-default-font-color--: #000;
    --yulang-button-border-radius--: 5px;
    --yulang-button-size-medium--: 45px;
    --yulang-button-size-small--: 40px;
    --yulang-button-size-mini--: 35px;
}