.icon-container {
    width: 100%;

    .icon-container-item {
        width: calc(20% - 2px);
        border: 1px solid #ccc;
        display: inline-block;

        .icon {
            margin: 10px;
        }

        .center {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &:hover {
            color: red;
            cursor: pointer;
        }


    }
}