@font-face {
    font-family: "iconfont";
    /* Project id 3878120 */
    src: url('iconfont.woff2?t=1675341485966') format('woff2'), url('iconfont.woff?t=1675341485966') format('woff'), url('iconfont.ttf?t=1675341485966') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-chevron-down:before {
    content: "\e607";
}

.icon-chevron-left:before {
    content: "\e608";
}

.icon-chevron-right:before {
    content: "\e609";
}

.icon-chevron-up:before {
    content: "\e60a";
}

.icon-gengduo:before {
    content: "\e60b";
}

.icon-guanbi:before {
    content: "\e60c";
}

.icon-quanping:before {
    content: "\e60d";
}

.icon-quanpingtuichu:before {
    content: "\e60e";
}

.icon-jiuping:before {
    content: "\e60f";
}

.icon-xiaoxi:before {
    content: "\e610";
}

.icon-shezhi:before {
    content: "\e611";
}

.icon-daochu:before {
    content: "\e612";
}

.icon-sousuo:before {
    content: "\e613";
}