.yulang-packages-union {
  display: flex;

  .union-menu {
    display: flex;
    flex-direction: column;

    // scrollbar-width: none;
    /* Firefox */
    // -ms-overflow-style: none;
    // /* IE 10+ */
    // &::-webkit-scrollbar {
    //   display: none;
    //   /* Chrome Safari */
    // }
  }

  .component-menu {
    width: 15em;
    min-width: 15em;
    top: 0;
    height: calc(100vh - 5rem);
    overflow-y: auto;
  }

  .component-menu-mobile {
    display: none;
  }

  .component-content {
    width: calc(100% - 15em);
    height: calc(100vh - 5em);
    padding-left: 1em;

    &::-webkit-scrollbar-thumb {
      background-color: var(--yulang-border-color--);
      /* color of the scroll thumb */
    }

    ::-webkit-scrollbar-thumb {
      background-color: var(--yulang-border-color--);
      /* color of the scroll thumb */
    }
  }

  .menu-title-level2-common {
    cursor: pointer;
  }

  .menu-title-1 {
    font-weight: 800;
    margin: 1em 0;
    font-size: 1.2em;
  }

  .menu-title-2 {
    margin: 0.6em 0;
    cursor: pointer;
    font-size: 0.8em;
  }

  .menu-title-3 {
    padding: 1em 0;
    cursor: pointer;
    font-size: 0.6em;
    background-color: var(--yulang-theme-color--);
    border-radius: 0.5rem;
  }

  .menu-title-actived {
    color: var(--yulang-font-color--);
  }
}


@media screen and (max-width:768px) {
  .yulang-packages-union>.component-menu {
    display: none;
  }

  .yulang-packages-union>.component-menu-mobile {
    display: block;

    :deep(.yulang-drawer-content-container-left) {
      overflow-y: auto;
    }
  }

  .yulang-packages-union>.component-content {
    width: 100%;
  }
}