.packages-yulang-table-header {
    display: flex;
}

.packages-yulang-table-body {
    display: flex;

    .packages-yulang-table-body-item {
        border-bottom: 1px solid #ccc;
        padding: 10px 0;
    }
}