// 灰色字体颜色
@font-color: var(--yulang-border-color--);

.describe-frame-container {
  border: 1px solid @font-color;
  border-radius: 3px;
  width: var(--container-width--);
}

.describe-frame-header {
  background-color: white;
  margin: 1.5em;
}

.describe-frame-content {
  background-color: var(--yulang-background-color--);
  padding-top: .3em;

  .describe-frame-content-tip {
    background-color: var(--yulang-background-color--);
    margin: 1em 1em 0;
    padding: 1em;
    border: 1px solid @font-color;
    border-radius: 3px;
    color: var(--yulang-font-color--);
  }

  .describe-frame-content-code {
    padding: 1em 2em;
    color: var(--yulang-font-color--);
  }
}

.describe-frame-footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: white;
  padding: 1.5em;
  border-top: 1px solid @font-color;


  .describe-frame-footer-center {
    width: 60%;
    display: flex;
    justify-content: center;

    img {
      width: 1em;
      height: 1em;
    }

    &:hover {
      color: var(--yulang-theme-color--);
    }
  }


  div {
    cursor: pointer;
  }

  .copy {
    width: 20%;
    display: flex;
    justify-content: flex-end;

    .copyBtn {
      border: 1px solid black;
      padding: .3em .6em;
      border-radius: 3px;
    }

    &:hover {
      color: var(--yulang-theme-color--);
    }
  }
}

.describe-frame-content-animation {
  overflow: hidden;
  background-color: white;
}

.describeFrameContentAnimation {
  animation: showContent .3s forwards;
}

.describeFrameContentAnimationReverse {
  animation: noshowContent .3s forwards;
}

@keyframes showContent {
  0% {
    height: 0px;
  }

  100% {
    height: var(--height-content--);
  }
}

@keyframes noshowContent {
  0% {
    height: var(--height-content--);
  }

  100% {
    height: 0px;
  }
}