.notification-container {
  display: flex;
  padding: 1em;
  margin-bottom: 1em;
  border: 1px solid black;
  border-radius: 4px;
  background-color: white;
}

// 前面的图标范围
.notification-container-icon {
  margin-right: 0.5em;

  img {
    width: 2em;
    height: 2em;
  }
}

// 中间的内容区
.notification-container-content {
  width: 15em;

  .notification-container-content-title {
    font-weight: 700;
    font-size: 1.1rem;
  }
}

// 尾部的删除区
.notification-container-tail {
  img {
    cursor: pointer;
    width: 1em;
    height: 1em;
  }
}
